---
import { Image } from 'astro:assets';
import logo from '../../assets/img/logo.png';
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from 'astro:i18n';
import { useTranslations } from '@/i18n/utils';
import { languagesList } from '@/i18n/ui';

const currentLang = Astro.currentLocale || 'es';

const t = useTranslations(currentLang as keyof typeof languagesList);
---

<header class="header">
	<div>
		<div id="overlay"></div>
		<div class="logo header__logo">
			<a
				href={getRelativeLocaleUrl(currentLang, '/')}
				aria-label="Ir al inicio de la web"
			>
				<Image src={logo} width={473} height={267} alt={'logo'} />
			</a>
		</div>
		<div>
			<button id="toggle" class="toggle" aria-label="boton de menu">
				<svg
					width="24"
					height="24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<g clip-path="url(#a)">
						<path d="M51 18H3v-2h48v2Zm0-5H3v-2h48v2Zm0-5H3V6h48v2Z" fill="#000"
						></path>
					</g>
					<defs>
						<clipPath id="a">
							<path fill="#fff" d="M0 0h24v24H0z"></path>
						</clipPath>
					</defs>
				</svg>
			</button>
		</div>
		<nav
			id="site-navigation"
			class="site-navigation"
			aria-label="Clickable Menu Demonstration"
		>
			<button
				id="closeNavMenu"
				class="closeBtn"
				aria-label="Hide Navigation Menu"
			>
				<svg
					width="24"
					height="24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41 17.59 5Z"
						fill="#ebc3bc"></path>
				</svg>
			</button>
			<div>
				<ul class="main-menu clicky-menu no-js">
					<li>
						<a
							href={getRelativeLocaleUrl(currentLang, '/')}
							data-astro-prefetch="hover">{t('menu.item.inicio')}</a
						>
					</li>
					<li>
						<a
							href={getAbsoluteLocaleUrl(currentLang, 'about')}
							data-astro-prefetch="hover">{t('menu.item.sobre-mi')}</a
						>
					</li>
					<li>
						<a
							href={getAbsoluteLocaleUrl(currentLang, 'services')}
							data-astro-prefetch="hover">{t('menu.item.servicios')}</a
						>
					</li>
					<li>
						<a
							href={getAbsoluteLocaleUrl(currentLang, 'contact')}
							data-astro-prefetch="hover">{t('menu.item.contacto')}</a
						>
					</li>
					<li class="nav-trasnlate-link-es">
						<a
							class="text-secondary px-1"
							href={getRelativeLocaleUrl('es', '/')}>ES</a
						>
					</li>
					<li class="nav-trasnlate-link-eu">
						<a
							class="text-secondary px-2"
							href={getRelativeLocaleUrl('eu', '/')}>EU</a
						>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
