.slug-field-component .label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--base) / 2);
}

.slug-field-component .lock-button {
  margin: 0;
  padding-bottom: 0.3125rem;
}
