---
import Layout from '@/layouts/Layout.astro';
export const prerender = true;
---

<Layout>
	<section class="wrapper">
		<h2 class="heading-secondary" tabindex="0" style="margin-top:6rem;">
			Política de Privacidad
		</h2>
		<div class="paragraph">
			<p tabindex="0">
				www.aitamasleepcoaching.com para proteger los derechos individuales,
				sobre todo en relación con los tratamientos automatizados y con voluntad
				de ser transparentes con el Usuario, ha establecido una política que
				recoge el conjunto de dichos tratamientos, los fines perseguidos por
				estos últimos, la legitimidad de los mismos y también los instrumentos a
				disposición del Usuario para que pueda ejercer sus derechos.
			</p>
			<p tabindex="0">
				La navegación en este sitio web implica la total aceptación de las
				siguientes disposiciones y condiciones de utilización. Se aceptará la
				utilización de cookies. En caso de no estar de acuerdo envía un correo
				electrónico a aitama@aitamasleepcoaching.com
			</p>
			<p tabindex="0">
				La versión actualizada de esta política de privacidad es la única
				aplicable durante la duración del uso del sitio web hasta que no haya
				otra versión que la sustituya.
			</p>
			<p tabindex="0">
				Para una más información complementaria sobre la protección de datos
				personales te invitamos a consultar la página web de la AEPD (Agencia
				Española de Protección de Datos) https://www.agpd.es/portalwebAGPD
				/index-ides-idphp.php
			</p>
		</div>
		<h3 class="heading-tertiary" tabindex="0" style="text-align:center">
			Recogida de datos
		</h3>
		<div class="paragraph">
			<p tabindex="0">Tus datos son recogidos por el TITULAR.</p>
			<p tabindex="0">
				Un dato de carácter personal se refiere a toda la información referida a
				una persona física identificada o identificable (persona afectada). Se
				entiende como identificable una persona que pueda ser identificada,
				directa o indirectamente, sobre todo por referencia a un nombre, un
				número de identificación (DNI, NIF, NIE, pasaporte) o a uno o varios
				elementos específicos, propios a su identidad física, fisiológica,
				genética, psíquica, económica, cultural o social.
			</p>
			<p tabindex="0">
				Los datos que con carácter general serán recopilados son: Nombre y
				apellidos, dirección, correo electrónico, número de teléfono, fecha de
				nacimiento, datos relacionados con medios de pago. Se podrán recopilar
				otro tipo de datos siendo informado el Usuario.
			</p>
		</div>
		<h3 class="heading-tertiary" tabindex="0" style="text-align:center">
			¿Con qué finalidad se tratan tus datos personales?
		</h3>
		<div class="paragraph">
			<p tabindex="0">
				La finalidad del tratamiento de los datos personales que se puedan
				recoger son usarlos principalmente por el TITULAR para la gestión de su
				relación contigo, poder ofrecerte productos y servicios de acuerdo con
				tus intereses, mejorar tu experiencia de usuario y en su caso, para el
				tratamiento de sus solicitudes, peticiones o pedidos. Se elaborará un
				perfil comercial en base a la información que le facilites. No se
				realizarán decisiones automatizadas en base a dicho perfil.
			</p>
			<p tabindex="0">
				Los datos proporcionados se conservarán mientras se mantenga la relación
				comercial, siempre que no se solicite por el interesado su supresión, o
				durante los años necesarios para cumplir las obligaciones legales.
			</p>
			<p tabindex="0">
				Se registrarán en el fichero de cliente y su tratamiento quedará
				registrado en el registro de tratamientos que debe llevar el TITULAR
				(antes del 25 de mayo de 2018 también podría estar incluido en el
				fichero elaborado con los datos personales registrado en la AEPD
				(Agencia Española de Protección de datos) u órgano competente de las
				respectiva Comunidad Autónoma).
			</p>
		</div>
		<h3 class="heading-tertiary" tabindex="0" style="text-align:center">
			¿Cuál es la legitimación para el tratamiento de tus datos?
		</h3>
		<div class="paragraph">
			<p tabindex="0">
				La base legal para el tratamiento de tus datos personales es:
			</p>
			<p tabindex="0">
				- La correcta ejecución o cumplimiento del contrato - El interés
				legítimo del TITULAR
			</p>
		</div>
		<h3 class="heading-tertiary" tabindex="0" style="text-align:center">
			¿A qué destinatarios se comunicarán los datos?
		</h3>
		<div class="paragraph">
			<p tabindex="0">
				Los datos personales del Usuario podrán eventualmente ser comunicados a
				terceros relacionados con el TITULAR por contrato para la realización de
				las tareas necesarias para la gestión de su cuenta como cliente y sin
				que tenga que dar su autorización.
			</p>
			<p tabindex="0">
				También cuando tuvieran que hacerse comunicaciones a las autoridades en
				caso de que el Usuario hubiera realizado acciones contrarias a la Ley o
				incumplido el contenido del aviso legal.
			</p>
			<p tabindex="0">
				Los datos del Usuario podrán comunicarse a otras empresas del grupo, si
				las hubiese, para fines administrativos internos que podrían suponer un
				tratamiento de esos datos.
			</p>
			<p tabindex="0">
				Los datos personales del Usuario podrán transferirse a un tercer país o
				a una organización internacional, pero se le deberá informar cuando se
				vaya a producir esa transferencia, y de las condiciones de la misma y
				del destinatario.
			</p>
			<p tabindex="0">
				Cuando algunos datos sean obligatorios para acceder a funcionalidades
				concretas del sitio web, el TITULAR indicará dicho carácter obligatorio
				en el momento de la recogida de datos del Usuario.
			</p>
		</div>
		<h3 class="heading-tertiary" tabindex="0" style="text-align:center">
			Cookies
		</h3>
		<div class="paragraph">
			<p tabindex="0">
				Durante la primera navegación, aparecerá un banner explicativo sobre el
				uso de cookies, que incluye la posibilidad de aceptar todas las cookies
				o solo las cookies técnicas, esenciales para el funcionamiento de la
				plataforma; con exclusión de las cookies analíticas y publicitarias.
			</p>
			<p tabindex="0">
				Para una mayor información consulte nuestra política de cookies.
			</p>
		</div>
		<h3 class="heading-tertiary" tabindex="0" style="text-align:center">
			Derechos del usuario
		</h3>
		<div class="paragraph">
			<p tabindex="0">
				Se informa al usuario de la posibilidad de ejercer sus derechos de
				acceso, rectificación, cancelación y oposición. También cada persona
				dispone del derecho de limitación del tratamiento relativo a su persona,
				de un derecho de eliminación de transferencia de datos personales
				transmitidos al responsable del tratamiento y del derecho a la
				portabilidad de sus datos.
			</p>
			<p tabindex="0">
				El usuario tiene la posibilidad de presentar una reclamación ante la
				AEPD (Agencia Española de Protección de Datos) u organismo competente de
				la respectiva Comunidad Autónoma, cuando no haya obtenido una solución
				satisfactoria en el ejercicio de sus derechos mediante un escrito
				dirigido a la misma.
			</p>
			<p tabindex="0">
				Salvo que el Usuario se oponga, enviando un email a la dirección de
				correo electrónico aitama@aitamasleepcoaching.com, sus datos podrán ser
				utilizados, en su caso, si procede, para el envío de información
				comercial de Alazne Valverde Exposito.
			</p>
			<p tabindex="0">
				Los datos proporcionados se conservarán mientras se mantenga la relación
				comercial o durante los años necesarios para cumplir las obligaciones
				legales.
			</p>
			<p tabindex="0">
				El Usuario es responsable de que la información que proporcione a través
				de esta página web sea cierta, respondiendo de la exactitud de todos los
				datos que comunique y mantendrá actualizada la misma para que reflejen
				una situación real, siendo responsable de informaciones falsas o
				inexactas que proporcione y de los daños, molestias y problemas que
				pudieran causar a Alazne Valverde Exposito o a terceros.
			</p>
			<p tabindex="0">
				Esa información será guardada y gestionada con la debida
				confidencialidad, aplicando las medidas de seguridad informática
				necesarias para impedir el acceso o uso indebido de sus datos, su
				manipulación, deterioro o pérdida.
			</p>
			<p tabindex="0">
				No obstante, el Usuario debe tener en cuenta que la seguridad de los
				sistemas informáticos nunca es absoluta. Cuando se facilitan datos
				personales por internet, dicha información pudiera ser recogida sin su
				consentimiento y tratada por terceros no autorizados. Alazne Valverde
				Exposito declina, cualquier tipo de responsabilidad sobre las
				consecuencias de esos actos puedan tener para el Usuario, si publicó la
				información voluntariamente.
			</p>
			<p tabindex="0">
				Podrá acceder y ejercitar esos derechos mediante solicitud por escrito y
				firmada que podrá ser enviada al domicilio Gelasio Aranburu 6 2D 20110
				Pasaia , adjuntando fotocopia del DNI o documento equivalente.
			</p>
			<p tabindex="0">
				También podrá ser enviada la solicitud al siguiente correo electrónico:
				aitama@aitamasleepcoaching.com
			</p>
			<p tabindex="0">
				Estos derechos serán atendidos, en el plazo de 1 mes, que podrá
				ampliarse a 2 meses si la complejidad de la solicitud o el número de
				solicitudes recibidas así lo exige. Todo ello sin perjuicio del deber de
				conservar ciertos datos en los términos legales y hasta que prescriban
				las posibles responsabilidades derivadas de un posible tratamiento, o,
				en su caso, de una relación contractual.
			</p>
			<p tabindex="0">
				Nuestro sitio usa Cloudflare para protegerlo de ataques y actividad
				maliciosa. Para ello, Cloudflare puede colocar cookies de seguridad,
				como _cfuvid. Estas cookies no recopilan información personal ni se usan
				para publicidad. Solo ayudan a que nuestro sitio sea seguro y funcione
				correctamente. Al seguir navegando por nuestro sitio, aceptas el uso de
				estas cookies de seguridad.
			</p>
			<p tabindex="0">
				Además de lo anterior, y en relación con la normativa de protección de
				datos, los usuarios que lo soliciten, tienen la posibilidad de organizar
				el destino de sus datos después de su fallecimiento.
			</p>
		</div>
	</section>
</Layout>
