.h-contact-page__col1 {
	height: 30rem;
}

.h-contact-page__col1 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: -50px;
}
.h-contact-page__field {
	margin: 3rem 0;
}
.h-contact-page__form {
	max-width: 30rem;
}
.h-contact-page__label {
	margin-bottom: 0;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}
@media screen and (min-width: 550px) {
	.h-contact-page__col1 {
		background-position-y: -232px;
	}
}

@media screen and (min-width: 1027px) {
	.h-contact-page {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 15rem auto;
		width: 70%;
		max-width: 49rem;
		margin-top: 90px;
		padding: 0;
		grid-column-gap: 0;
	}

	.h-contact-page__col1 {
		height: auto;
		margin: -4rem;
		border-radius: 50%;
		grid-row: 1/2;
		background-position-y: -190px;
	}

	.h-contact-page__col2 {
		grid-row: 1/-1;
	}

	.h-contact-page__form {
		padding-right: 30px;
	}
}

@media screen and (min-width: 1660px) {
	.h-contact-page {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		width: 70%;
		max-width: 108rem;
		padding: 0;
	}

	.h-contact-page__col1 {
		height: auto;
		margin: 0;
		border-radius: 0;
		grid-column: 2/3;
		grid-row: 1/2;
		background-position-x: -143px;
		background-position-y: 0;
	}

	.h-contact-page__col2 {
		grid-column: 1/2;
		grid-row: 1/2;
	}
}
